[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "feh-random-background"]
	path = feh-random-background
	url = https://github.com/KoviRobi/feh-random-background
