[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "home/x11/i3/unipicker"]
	path = home/x11/i3/unipicker
	url = git@github.com:KoviRobi/unipicker
